@keyframes grow {
  0% {
    scale: 100%;
  }

  50% {
    scale: 101%;
  }

  100% {
    scale: 100%;
  }
}



.Aboutme {
  color: white;
  min-width: 100vw;
  min-height: 100vh;

  /* Plasmatic Waves Background moved to global index.css */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Aboutme-aboutme {
  font-size: 80px;
  font-weight: 600;
}

.Aboutme-dis {
  max-width: 600px;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 70;
}

.Aboutme-dis-word {
  color: aqua;
}

/* .Aboutme-me {
  width: 300px;
  animation: grow 2s ease-in-out infinite;
  filter: drop-shadow(0 0 15px aqua);
} */

.Aboutme-me {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0 10px 20px aqua);
  animation: grow 2s ease-in-out infinite;
}

.Aboutme-me:hover {
  animation-play-state: paused;
}

.Aboutme-edu-edu {
  font-size: 40px;
}

.Aboutme-cv {
  color: black;
  text-decoration: none;
  padding: 20px;
  background-color: white;
  margin-top: 50px;
  border-radius: 200px;
  transition: 1s;
  font-weight: 600;
  user-select: none;
}

.Aboutme-cv:hover {
  background-color: aqua;
  transition: 1s !important;
}

@media (max-width: 1200px) and (orientation: portrait) {
  .Aboutme-dis {
    margin-top: 10px;
    max-width: 70%;
    line-height: 1.4;
    font-weight: 100;
    text-align: center;
  }

  .Aboutme-aboutme {
    font-size: 12vw;
  }

  .Aboutme-dis {
    font-size: 16px;
  }

  .Aboutme-me {
    width: 250px;
    height: 250px;
    /* Ensure aspect ratio is maintained */
  }

  .Aboutme-cv {
    color: black;
    text-decoration: none;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 200px;
    transition: 1s;
    font-weight: 600;
    user-select: none;
    margin-bottom: 50px;
  }
}