@font-face {
  font-family: "masque";
  src: url(../public/MASQUE__.ttf);
}
@font-face {
  font-family: "sans";
  src: url(../public/OpenSans-VariableFont_wdth,wght.ttf);
}

body {
  background-image: url(../public/flat-mountains.svg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  animation-name: appear;
  animation-duration: 4s;
}

.App-iconbar-icons {
  transition: 1s;
}
.App-iconbar-icons:hover {
  background-color: #00ffff;
  scale: 110%;
  transition: 1s;
}

.App-name {
  font-family: "masque";
  font-size: 50px;
}
@keyframes appear {
  from {
    scale: 120%;
    opacity: 0%;
    filter: blur(10px);
  }
  to {
    scale: 100%;
    opacity: 100%;
  }
}

.App-name span {
  color: white;
  transition: 1s;
}

.App-name span:hover {
  color: aqua;
  font-size: 70px;
  transition: 1s;
}

.App-hash {
  font-size: 20px;
}

.App-hash01 {
  font-family: "sans";
  opacity: 100%;
  color: #00ffff;
}

.App-iconbar {
  margin-top: 7px;
}

.App-iconbar-icons {
  background-color: white;
  padding: 15px;
  margin: 5px;
  border-radius: 100px;
  color: black;
}
.App-scroll {
  position: absolute;
  z-index: 100;
  scale: 10vw;
  transform: translateY(30vh);
}
.App-scroll span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  opacity: 50%;
  animation: scroll 2s infinite;
}
.App-scroll span:nth-child(2) {
  animation-delay: -0.2s;
}
.App-scroll span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media (max-width: 1200px) {
  .App-name {
    font-size: 7vw;
  }
  .App-iconbar-icons {
    padding: 10px;
  }
  .App-hash {
    font-size: 20px;
  }
  .App-iconbar {
    margin-top: 6px;
    max-width: 80%;
  }
}
