.footer-main {
  display: flex;
  color: white;
  background-color: #091d36;
  padding: 200px 0px;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}

.footer-main-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 150%;
}
.footer-main-icons a {
  display: inline-flex;
  color: white;
  margin: 1px;
}

.footer-main-icons a:hover {
  color: aqua;
  transition: 0.5s;
}

.footer-main-flex span {
  font-size: 60%;
}
