html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  max-width: 100vw !important;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  /* background-image: url(../public/flat-mountains.svg); */
  /* Plasmatic Waves Background */
  background: linear-gradient(-45deg, #000000, #2c0b2e, #004e66, #001f3f);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;

  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}