html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  max-width: 100vw !important;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  /* background-image: url(../public/flat-mountains.svg); */
  /* Plasmatic Waves Background */
  background-color: black;
  /* Using RGBA for 40% opacity effect over black background */
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.4), rgba(44, 11, 46, 0.4), rgba(0, 78, 102, 0.4), rgba(0, 31, 63, 0.4));
  background-size: 400% 400%;
  /* Increased duration to 30s for slower speed */
  animation: gradientBG 30s ease infinite;

  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}