html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  max-width: 100vw !important;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  /* background-image: url(../public/flat-mountains.svg); */
  background-image: linear-gradient(to top, #05002a, #0b0b32, #12123b, #1a1843, #231d4c);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}