@font-face {
  font-family: "masque";
  src: url(../public/MASQUE__.ttf);
}
.Skillset {
  color: black;
  background-color: white;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Skillset-skill-name {
  font-family: "sans";
  font-size: 80px;
}

.Skillset-skill {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Skillset-skill-des {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Skillset-skill-des div {
  display: flex;
  flex-direction: column;
  background-color: #091d36;
  background-image: linear-gradient(315deg, #091d36 0%, #37d5d6 90%);
  color: white;
  margin: 10px;
  padding: 30px 40px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.Skillset-skill-des div:hover {
  scale: 105%;
  transition: 1s;
  color: aqua;
}

#title {
  font-weight: 600;
  font-size: 30px;
}
#title-content {
  font-weight: 200;
}

@media (max-width: 1200px) {
  .Skillset-skill-name {
    font-size: 12vw;
    margin: 20px;
  }
  .Skillset-skill-des {
    display: flex;
    flex-direction: column;
    max-width: 95%;
  }
  #title {
    font-size: 25px;
  }

  #title-content {
    font-size: 15px;
  }
}
